body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  border: 0;
  margin: 0;
  font-family: 'Clear Sans', 'Helvetica Neue', Arial, sans-serif
}

#grid {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.row {
  display: flex;
  gap: 0.5rem;
}

.box {
  width: 4rem;
  height: 4rem;
  border: 2px solid #d3d6da;
}

nav {
  position: fixed;
  top: 0;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #d3d6da;
  align-items: center;
  background-color: white;
  z-index: 100;
}

nav h1 {
  padding: 0;
  margin: 0.5rem;
  font-weight: 1000;
  font-size: 2.5rem;
}

.left {
  margin-left: 1rem;
}

.right {
  margin-right: 1rem;
}

nav button {
  display: flex-block;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  outline: none;
  border: 1px solid #d3d6da;
  background: none;
  color: #3c3f41;
  font-weight: bold;
}

nav button:hover {
  cursor: pointer;
  background: #eaebee;
  color: #1c1d1f;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
}

.popUp {
  position: absolute;
  top: 0;
  left: 50%;
  margin-top: 12.5rem;
  opacity: 0;
  transition: all 0.5s;
}

.popUp div {
  position: relative; 
  left: -50%;
  background-color: black;
  color: white;
  padding: 1rem;
  border-radius: 0.25rem;
  font-weight: bold;
}

.keyboard {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  position: absolute;
  bottom: 0;
}

.keyboardRow {
  display: flex;
  gap: 0.5rem;
}

.key {
  border-radius: 0.25rem;
  border: none;
  background: #d3d6da;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  height: 3rem;
  font-weight: bold;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 22.5rem;
  height: 100vh;
  background-color: #ffffff;
  border-right: #d3d6da 1px solid;
  opacity: 1;
  transition: all 0.5s;
  display: flex;
  flex-direction: column;
  margin-top: 4.5rem;
  box-sizing: border-box!important;
  z-index: 75;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0 0 0 1rem;
}

.more {
  font-size: 0.75rem;
  font-weight: 700;
  margin: 1.5rem 0.25rem 1.5rem 1.25rem;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  padding: 0.75rem 0;
  padding-left: 3rem;
}

li:hover {
  background-color: rgb(240, 240, 240);
  cursor: pointer;
}

a {
  text-decoration: none;
  color: black;
}

.wrapper {
 margin: 1rem 0 0 0;
 padding: 0;
 display: flex;
 align-items: center;
 justify-content: space-between;
}

#closeBtn {
  border: none;
  background: white;
  margin-right: 1rem;
  cursor: pointer;
  padding: 0;
  font-size: 2rem;
}